.icon-like {
    font-family: Material Icons;
    font-size: 25px;
    color: #777;
    text-decoration: none;
  }
  
.icon-like:hover {
    color: #55f;
}
  
.icon-like:visited {
    color: rgb(255, 0, 0);
}
  
.icon-like:visited:hover {
    color: rgba(255, 85, 85, 0.7);
}